body {
    /* Font */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

textarea {
    /* Background and border */
    background: transparent;
    border: none;
    border-left: 1px solid black;

    /* Text color and padding */
    color: #000000;
    padding: 10px;

    /* Disable resizing */
    resize: none;
}

.description {
    /* Wrap text */
    white-space: pre-wrap;
}

.time-block {
    /* Border radius */
    border-radius: 15px;
}

.row {
    /* Top border */
    border-top: 1px solid white;
}

.hour {
    /* Background and text color */
    background-color: #ffffff;
    color: #000000;

    /* Dashed top border */
    border-top: 1px dashed #000000;
}

.past {
    /* Background and text color */
    background-color: #d3d3d3;
    color: white;
}

.present {
    /* Background and text color */
    background-color: #ff6961;
    color: white;
}

.future {
    /* Background and text color */
    background-color: #77dd77;
    color: white;
}

.saveBtn {
    /* Left border and border radius */
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    /* Background and text color */
    background-color: #06aed5;
    color: white;
}

.saveBtn i:hover {
    /* Increase font size on hover */
    font-size: 20px;

    /* Transition effect */
    transition: all 0.3s ease-in-out;
}

.header {
    /* Center text */
    text-align: center;
}
