body {
    /* Font */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  textarea {
    /* Background and border */
    background: transparent;
    border: none;
    border-left: 1px solid black;
  
    /* Text color and padding */
    color: #000000;
    padding: 5px;
  }
  
  .description {
    /* Wrap text */
    white-space: pre-wrap;
  }
  
  .time-block {
    /* Border radius */
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .row {
    /* Top border */
    border-top: 1px solid white;
  }
  
  .hour {
    /* Background and text color */
    background-color: #ffffff;
    color: #000000;
  
    /* Dashed top border */
    border-top: 1px dashed #000000;
  }
  
  .saveBtn {
    /* Left border and border radius */
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  
    /* Background and text color */
    background-color: #06aed5;
    color: rgb(0, 0, 0);
  }
  
  .saveBtn i:hover {
    /* Increase font size on hover */
    font-size: 40px;
  
    /* Transition effect */
    transition: all 0.2s ease-in-out;
  }
  
  .display-3 {
    /* Center text */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .lead {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 0;
  }
  
  .currentdate {
    color: #ec0c00;
    font-weight: bold;
    align-items: center;
    text-align: center;
  }
  
  /* Hourglass emoji */
  .currentdate::before {
    content: '⏳';
    margin-right: 5px;
  }
  
  .container-fluid.px-5 .time-block.past .description,
  .container-fluid.px-5 .time-block.past textarea {
    color: #aeaeae;
  }
  
  .container-fluid.px-5 .time-block.present .description,
  .container-fluid.px-5 .time-block.present textarea {
    color: #ff7171;
  }
  
  .container-fluid.px-5 .time-block.future .description,
  .container-fluid.px-5 .time-block.future textarea {
    color: #8cff66;
  }
  